# Git
.git
.gitignore
.gitattributes

# Environment
.env
.env.*

# Dependencies (will exist after install)
node_modules
vendor

# Cache, logs, and temp
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/framework/testing
storage/app/private/*

# Testing
tests
k6
test-results
.phpunit.result.cache
phpunit*
playwright*

# Tooling
.sisyphus
.opencode

# Documentation
*.md

# Packages
*.deb

# Self
.dockerignore
docker-compose.yml
Dockerfile
